*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color:  */
  text-decoration: inherit;
}
a:hover {
  /* color:  */
}

body {
  margin: 0;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #c96262; */

  background-image: url('bk3.gif'), linear-gradient(black, rgb(0, 0, 0));
  background-repeat: no-repeat;
  /* background-origin: center; */
  /* background-position: ; */
  background-size: cover;
  font-size: 1.6rem;
}

#root {
  background-color: #43444ecf;
}

.app {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 140rem;
  margin: auto;
  height: 100vh;
}

.main-page {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-page .description {
  padding: 0.3rem 35rem;
  letter-spacing: 0.1rem;
}

.main-page .play-now {
  font-size: 3rem;
}

.main-page div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  color: #48ff00;
}

label:hover {
  color: #43e602;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
  position: relative;
}

label:hover::before {
  position: absolute;
  content: '▹';
  left: -3rem;
  top: -1.2rem;
  font-size: 3rem;
}

.score-board {
  /* background-color: rgb(80, 187, 14); */
  color: black;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 2rem;
}

.score-board h3 {
  margin-right: auto;
}

.game-boards {
  /* background-color: bisque; */
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: center;
  gap: 1rem;
}

.game-boards img {
  width: 20rem;
  cursor: pointer;
}

.footer {
  /* background-color: aliceblue; */
  min-width: 88rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0.3rem 4rem;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input {
  display: none;
}

.result-display {
  padding-top: 10rem;
  /* background-color: #626af2; */
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.result-display p {
  font-size: 1.9rem;
  font-weight: 700;
}

.result-display div {
  padding-top: 4rem;
  display: flex;
  gap: 3rem;
}

button {
  width: 7rem;
  padding: 0.3rem 0.6rem;
  border: 0;
  border-radius: 0.5rem;
}
