*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c96262;
  font-size: 1.6rem;
}

.app {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 140rem;
  background-color: #535bf2;
  margin: auto;
  height: 100vh;
}

.main-page {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-page .description {
  padding: 0.3rem 35rem;
  letter-spacing: 0.1rem;
}

.main-page .play-now {
  font-size: 3rem;
}

.main-page div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  color: #535bf2;
}

label:hover {
  color: #626af2;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
  position: relative;
}

label:hover::before {
  position: absolute;
  content: '▹';
  left: -3rem;
  top: -1.2rem;
  font-size: 3rem;
}

.score-board {
  background-color: rgb(80, 187, 14);
  color: black;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 2rem;
}

.score-board h3 {
  margin-right: auto;
}

.game-boards {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: center;
  gap: 1rem;
}

.game-boards img {
  width: 20rem;
  cursor: pointer;
}

.footer {
  background-color: aliceblue;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0.3rem 4rem;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input {
  display: none;
}
/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* .app {
  margin: 0;
  height: 100vh;
  background-color: aqua;
} */
